Repository nss-cohort-36/bangazon-workforce-mgt-imagination-station, pull requests merged in 2020-02, with the labels that each got.

#23 Lr employee list 19
  hrapp/fixtures/departments.json
  hrapp/fixtures/employees.json
  hrapp/templates/employees/employees_list.html
  hrapp/views/employees/employee_list.py
Labels: employee

#22 list of training programs
  hrapp/fixtures/training_program.json
  hrapp/templates/training_programs/training_programs_list.html
  hrapp/urls.py
  hrapp/views/__init__.py
  hrapp/views/training_programs/training_program_list.py
Labels: training

#27 Kb training program add
  hrapp/templates/training_programs/training_programs_form.html
  hrapp/templates/training_programs/training_programs_list.html
  hrapp/urls.py
  hrapp/views/__init__.py
  hrapp/views/training_programs/training_program_form.py
  hrapp/views/training_programs/training_program_list.py
Labels: training

#30 Lr employee details 17
  hrapp/fixtures/employee_trainingprogram.json
  hrapp/fixtures/employeecomputer.json
  hrapp/models/employee_computer.py
  hrapp/templates/employees/employees_detail.html
  hrapp/templates/employees/employees_list.html
  hrapp/urls.py
  hrapp/views/__init__.py
  hrapp/views/employees/employee_details.py
Labels: employee

#33 nav bar working
  hrapp/static/styles/base.css
  hrapp/templates/shared/base.html
Labels: navigation

#34 Kb training details
  hrapp/templates/training_programs/training_programs_detail.html
  hrapp/templates/training_programs/training_programs_list.html
  hrapp/urls.py
  hrapp/views/__init__.py
  hrapp/views/training_programs/training_program_details.py
Labels: employee, training

#35 datetime bool estabished to training program list
  hrapp/templates/training_programs/training_programs_list.html
  hrapp/views/training_programs/training_program_list.py
Labels: fluff

#36 Lr assigning training programs 3
  hrapp/templates/employees/employee_training_program_form.html
  hrapp/templates/employees/employees_detail.html
  hrapp/urls.py
  hrapp/views/__init__.py
  hrapp/views/employees/employee_details.py
  hrapp/views/employees/employee_training_program_form.py
Labels: employee

#37 Lr redirecting to detail
  hrapp/templates/employees/employee_training_program_form.html
  hrapp/views/employees/employee_details.py
Labels: employee

#39 Kb training edit
  hrapp/templates/training_programs/training_programs_detail.html
  hrapp/templates/training_programs/training_programs_form.html
  hrapp/templates/training_programs/training_programs_list.html
  hrapp/urls.py
  hrapp/views/__init__.py
  hrapp/views/training_programs/training_program_details.py
  hrapp/views/training_programs/training_program_form.py
  hrapp/views/training_programs/training_program_list.py
Labels: training

#42 Lr styling
  hrapp/static/styles/base.css
  hrapp/static/styles/computers.css
  hrapp/static/styles/departments.css
  hrapp/static/styles/employees.css
  hrapp/static/styles/training_programs.css
  hrapp/templates/computers/computer_details.html
  hrapp/templates/computers/computer_form.html
  hrapp/templates/computers/computers_list.html
  hrapp/templates/departments/department_form.html
  hrapp/templates/departments/department_list.html
  hrapp/templates/employees/employee_training_program_form.html
  hrapp/templates/employees/employees_detail.html
  hrapp/templates/employees/employees_list.html
  hrapp/templates/employees/form.html
  hrapp/templates/home.html
  hrapp/templates/registration/login.html
  hrapp/templates/training_programs/training_programs_detail.html
  hrapp/templates/training_programs/training_programs_form.html
  hrapp/templates/training_programs/training_programs_list.html
  hrapp/views/employees/employee_details.py
  hrapp/views/employees/employee_training_program_form.py
Labels: fluff

#44 Lr final styles
  hrapp/static/styles/base.css
  hrapp/static/styles/computers.css
  hrapp/static/styles/departments.css
  hrapp/static/styles/employees.css
  hrapp/static/styles/training_programs.css
  hrapp/templates/employees/employee_training_program_form.html
  hrapp/templates/employees/form.html
  hrapp/templates/home.html
  hrapp/views/employees/employee_details.py
  hrapp/views/employees/employee_list.py
  hrapp/views/employees/employee_training_program_form.py
Labels: fluff

#46 added styles to dept details
  hrapp/static/styles/departments.css
  hrapp/templates/departments/department_detail.html
Labels: fluff

#47 updated readme
  README.md
  hrapp/static/assets/bwms_home.png
  hrapp/static/assets/bwms_home_login.png
Labels: fluff
